In [1]:
# Useful starting lines
%matplotlib inline
import numpy as np
import matplotlib.pyplot as plt
from implementations import *
import datetime
%load_ext autoreload
%autoreload 2

In [2]:
from proj1_helpers import *
DATA_TRAIN_PATH = '/Users/AntoineDaeniker/Documents/EPFL/Master 1/ML_course/projects/project1/data/train.csv' # TODO: download train data and supply path here 
y, tX, tXt, ids = load_csv_data(DATA_TRAIN_PATH)
print(y.shape, tX.shape)

(250000,) (250000, 30)

In [3]:
nb_diff_values = []
for feat in tX.T:
    nb_diff_values.append(len(np.unique(feat)))

In [4]:
nb_diff_values

[108338,
 101637,
 100558,
 115563,
 7087,
 68366,
 16593,
 4692,
 59042,
 156098,
 5931,
 2829,
 1002,
 59639,
 4971,
 6285,
 61929,
 4987,
 6285,
 87836,
 6285,
 179740,
 4,
 86590,
 8558,
 6285,
 42464,
 8628,
 6286,
 103559]

In [5]:
feat_ind = np.argmin(nb_diff_values)

In [6]:
feat_values = np.unique(tX[:, feat_ind])

In [7]:
sub_data = [0] * len(feat_values)
for i, val in enumerate(feat_values):
    sub_data[i] = np.delete(tX[tX[:, feat_ind] == val], feat_ind, axis=1)

In [8]:
sub_count_999 = []
for data in sub_data:
    count_999 = []
    for feat in data.T:
        count_999.append(len(feat[feat == -999]) / len(feat))
    sub_count_999.append(count_999)

In [18]:
import pandas as pd
pd.set_option('display.max_rows', 500)
pd.set_option('display.max_columns', 500)
pd.set_option('display.width', 1000)

In [19]:
pd.DataFrame(sub_count_999)

         0    1    2    3    4    5    6    7    8    9    10   11   12   13   14   15   16   17   18   19   20   21   22   23   24   25   26   27   28
0  0.261457  0.0  0.0  0.0  1.0  1.0  1.0  0.0  0.0  0.0  0.0  0.0  1.0  0.0  0.0  0.0  0.0  0.0  0.0  0.0  0.0  0.0  1.0  1.0  1.0  1.0  1.0  1.0  0.0
1  0.097519  0.0  0.0  0.0  1.0  1.0  1.0  0.0  0.0  0.0  0.0  0.0  1.0  0.0  0.0  0.0  0.0  0.0  0.0  0.0  0.0  0.0  0.0  0.0  0.0  1.0  1.0  1.0  0.0
2  0.058596  0.0  0.0  0.0  0.0  0.0  0.0  0.0  0.0  0.0  0.0  0.0  0.0  0.0  0.0  0.0  0.0  0.0  0.0  0.0  0.0  0.0  0.0  0.0  0.0  0.0  0.0  0.0  0.0
3  0.066640  0.0  0.0  0.0  0.0  0.0  0.0  0.0  0.0  0.0  0.0  0.0  0.0  0.0  0.0  0.0  0.0  0.0  0.0  0.0  0.0  0.0  0.0  0.0  0.0  0.0  0.0  0.0  0.0

In [11]:
#np.array(sub_count_999)

In [12]:
sub_count_999_ind = []
for count in sub_count_999:
    indices = np.argwhere(np.array(count) > 0.5)
    #if len(indices) > 0:
    sub_count_999_ind.append(np.argwhere(np.array(count) > 0.5))

In [13]:
#sub_count_999_ind

In [14]:
sub_data_reduce = [0] * len(feat_values)
for i, indices in enumerate(sub_count_999_ind):
    sub_data_reduce[i] = np.delete(sub_data[i], np.array(indices), axis=1)

In [15]:
#sub_data_reduce

In [16]:
for data in sub_data_reduce:
    print(data.shape)

(99913, 19)
(77544, 22)
(50379, 29)
(22164, 29)

In [17]:
new_data = subdivide_data(tX)

TypeError: subdivide_data() missing 1 required positional argument: 'y'

In [ ]:
for